/* Global styles for GitWise application */
.App {
    text-align: center;
}

.todo-label {
    font-size: large;
    margin-right: 22%;
    margin-left: 3%;
}

.todo-view-btn {
    float: right;
}

td {
    word-break: break-word;
    max-width: 34rem;
}

.warningMessage {
    color: red;
}

.card-title {
    text-align: center;
}

.signInButton {
    margin: 1rem;
}